<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SeeSatVB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SeeSatVB.My.MySettings>
            <setting name="user_lat" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="user_lon" serializeAs="String">
                <value>-124</value>
            </setting>
            <setting name="user_ht_in_meters" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="user_rundate" serializeAs="String">
                <value>02/13/2015 18:40:00</value>
            </setting>
            <setting name="user_tz" serializeAs="String">
                <value>-7</value>
            </setting>
            <setting name="user_star_path" serializeAs="String">
                <value>E:\Source\Satellite\Data\hipstarcat.csv</value>
            </setting>
            <setting name="user_mcnames_path" serializeAs="String">
                <value>E:\Source\Satellite\Data\mcnames.txt</value>
            </setting>
            <setting name="user_qsat_path" serializeAs="String">
                <value>E:\Source\Satellite\Data\qs.mag.txt</value>
            </setting>
            <setting name="user_tle_path" serializeAs="String">
                <value>E:\Source\Satellite\Data\visual.txt</value>
            </setting>
            <setting name="user_loc_name" serializeAs="String">
                <value>Vanderhoof BC Canada</value>
            </setting>
            <setting name="user_star_int" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="user_sat_int" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="user_view_stereo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_ntp_onstart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_center_onzoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_sat_mag" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="user_sat_limit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="user_star_transp" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="user_star_bright" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="user_sat_scale" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="user_star_scale" serializeAs="String">
                <value>10</value>
            </setting>
        </SeeSatVB.My.MySettings>
    </userSettings>
</configuration>
